<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="api.dao.category.CategoryMapper">
  <resultMap id="BaseResultMap" type="api.entity.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="product_type_img" jdbcType="VARCHAR" property="productTypeImg" />
    <result column="type_extend" jdbcType="VARCHAR" property="typeExtend" />
  </resultMap>
     <select id="getCategoryList" resultMap="BaseResultMap">
         select * from category
    </select>
</mapper>